@using EntityLayer.Concrete
@model List<Voyage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Voyages</h1>

<table class="table table-sm table-hover table-responsive w-100 d-block d-md-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ship Name</th>
            <th>Port Name</th>
            <th>Port City</th>
            <th>Arrival Date</th>
            <th>Departure Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.VoyageId</td>
                <td>@item.Ship.ShipName</td>
                <td>@item.Port.PortName</td>
                <td>@item.Port.PortCity</td>
                <td>@(((DateTime)item.VoyageArrivalDate).ToString("dd-MMM-yyyy"))</td>
                <td>@(((DateTime)item.VoyageDepartureDate).ToString("dd-MMM-yyyy"))</td>
            </tr>
        }
    </tbody>
</table>