@using EntityLayer.Concrete
@model List<Voyage>

@{
    ViewData["Title"] = "Call List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="float-right pb-2">
    <a href="~/Voyage/CallCreate">
    <input type="button" value="Add" class="btn btn-info" /></a>
</div>


<table class="table table-sm table-hover table-responsive w-100 d-block d-md-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ship Name</th>
            <th>Port Name</th>
            <th>Port City</th>
            <th>Arrival Date</th>
            <th>Departure Date</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.VoyageId</td>
                <td>@item.Ship.ShipName</td>
                @*<td>@item.Port.PortName.Substring(0,item.Port.PortName.Substring(0,5).LastIndexOf(" ")) ...</td>*@
                <td>@item.Port.PortName</td>
                <td>@item.Port.PortCity</td>
                <td>@(((DateTime)item.VoyageArrivalDate).ToString("dd-MMM-yyyy"))</td>
                <td>@(((DateTime)item.VoyageDepartureDate).ToString("dd-MMM-yyyy"))</td>
                <td style="width:25px"><a class="btn btn-warning btn-sm" href="~/Voyage/Details/@item.VoyageId">Edit</a></td>
                <td style="width:25px"><a class="btn btn-danger btn-sm" href="~/Voyage/Delete/@item.VoyageId">Del</a></td>
            </tr>
        }
    </tbody>
</table>