@model EntityLayer.Concrete.Ship

@{
    ViewData["Title"] = "ShipCreate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>Ship Create</h4>
@using (Html.BeginForm("Create", "Ship", FormMethod.Post, new { id = "selects-form" }))
{
    <div class="row form-group">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-form-label" for="ShipName">Ship Name <span class="required">*</span></label>
                @Html.TextBoxFor(x=>x.ShipName, new {@class="form-control"})
                @Html.ValidationMessageFor(x=>x.ShipName, "", new {@class = "text-danger"})
                @*<input type="text" class="form-control" id="ShipName" name="ShipName" title="Ship Name is required" required>*@
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-form-label" for="ShipType">Ship Type</label>
                @Html.TextBoxFor(x=>x.ShipType, new {@class="form-control"})
                @*<input type="text" class="form-control" id="ShipType" name="ShipType">*@
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-form-label" for="ShipNRT">Ship NRT</label>
                @*<input type="text" class="form-control" id="ShipNRT" name="ShipNRT">*@
                @Html.TextBoxFor(x=>x.ShipNRT, new {@class="form-control"})
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-form-label" for="ShipGRT">Ship GRT</label>
                @*<input type="text" class="form-control" id="ShipGRT" name="ShipGRT">*@
                @Html.TextBoxFor(x=>x.ShipGRT, new {@class="form-control"})
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-form-label" for="ShipIMO">Ship IMO</label>
                @*<input type="text" class="form-control" id="ShipIMO" name="ShipIMO">*@
                @Html.TextBoxFor(x=>x.ShipIMO, new {@class="form-control"})
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-form-label" for="ShipMMSI">Ship MMSI</label>
                @*<input type="text" class="form-control" id="ShipMMSI" name="ShipMMSI">*@
                @Html.TextBoxFor(x=>x.ShipMMSI, new {@class="form-control"})
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-form-label" for="ShipLoa">Ship LOA</label>
                @*<input type="text" class="form-control" id="ShipLoa" name="ShipLoa">*@
                @Html.TextBoxFor(x=>x.ShipLoa, new {@class="form-control"})
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-form-label" for="ShipDraft">Ship Draft</label>
                @*<input type="text" class="form-control" id="ShipDraft" name="ShipDraft">*@
                @Html.TextBoxFor(x=>x.ShipDraft, new {@class="form-control"})
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-form-label" for="ShipDWT">Ship DWT</label>
                @*<input type="text" class="form-control" id="ShipDWT" name="ShipDWT">*@
                @Html.TextBoxFor(x=>x.ShipDWT, new {@class="form-control"})
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-form-label" for="ShipFlag">Ship Flag</label>
                @*<input type="text" class="form-control" id="ShipFlag" name="ShipFlag">*@
                @Html.TextBoxFor(x=>x.ShipFlag, new {@class="form-control"})
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-form-label" for="ShipRegistry">Ship Registry</label>
                @*<input type="text" class="form-control" id="ShipRegistry" name="ShipRegistry">*@
                @Html.TextBoxFor(x=>x.ShipRegistry, new {@class="form-control"})
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-form-label" for="ShipCallSign">Ship Call Sign</label>
                @*<input type="text" class="form-control" id="ShipCallSign" name="ShipCallSign">*@
                @Html.TextBoxFor(x=>x.ShipCallSign, new {@class="form-control"})
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-12">
            <button type="submit" class="btn btn-info">Save</button>
        </div>
    </div>
}
