@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<EntityLayer.Concrete.Ship>

@{
    ViewData["Title"] = "Ship List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="float-right pb-2">
    <a href="~/Ship/Create">
        <input type="button" value="Add" class="btn btn-info" />
    </a>
</div>


<table class="table table-sm table-hover table-responsive w-100 d-block d-md-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ship Name</th>
            <th>Ship Type</th>
            <th>IMO</th>
            <th>GRT</th>
            <th>NRT</th>
            <th>LOA</th>
            <th>Draft</th>
            <th>Flag</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ShipId</td>
                <td>@item.ShipName</td>
                <td>@item.ShipType</td>
                <td>@item.ShipIMO</td>
                <td>@item.ShipGRT</td>
                <td>@item.ShipNRT</td>
                <td>@item.ShipLoa</td>
                <td>@item.ShipDraft</td>
                <td>@item.ShipFlag</td>
                <td style="width:25px"><a class="btn btn-warning btn-sm" href="~/Ship/Edit/@item.ShipId">Edit</a></td>
                <td style="width:25px"><a class="btn btn-danger btn-sm" href="~/Ship/Delete/@item.ShipId">Del</a></td>
            </tr>
        }
    </tbody>
</table>

<div class="paging_simple_numbers">
    @Html.PagedListPager((IPagedList)Model, page=>Url.Action("List", new { page } ), new PagedListRenderOptions()
    {
        LiElementClasses = new List<string> {"page-item"},
        PageClasses = new List<string> {"page-link"}
    })
</div>